# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Jekyll
website/_site/
website/.jekyll-cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
.cursor/
/.ctxlayer/

.agents/